.carrusel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Ajusta el tamaño según lo necesites */
    overflow: hidden;
    margin: auto;
}

.carrusel-imagenes {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel-imagenes img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
}

.carrusel:hover .carrusel-imagenes {
    transform: translateX(-100%);
}